// Login page
// ----------

// See src/components/views/login/

.saml-auth {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}
