body {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

h1 {
    padding-left: 10px;
}

#top {
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    overflow-y: auto;
}

.editor-wrapper {
    flex: 1;
    max-width: 75%;
    margin: 10px;
    overflow-y: auto;
}

.collaps {
    background-color: #ddd;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0px 0px;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.collaps:hover {
    background-color: #ccc;
}

.tutorial {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 0px 0px 5px 5px;
    /* display: none; */
    overflow: hidden;
    background-color: #ddd;
}

.t-l, .t-r {
    width: 50%;
}

.label {
    font-size: 20px;
    margin-left: 3px;
    margin-bottom: 3px;
}
  
#editor {
    flex: 1;
    background-color: #fff;
    padding: 5px;
    font-family: monospace;
    font-size: 16px;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.editor {
    margin-top: 10px;
}

.info {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 40px;
    margin-left: 5px;
}
.info::after,
.info::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    left: 7px;
}
.info::after {
    bottom: 2px;
    height: 8px;
}
.info::before {
    height: 2px;
    top: 2px;
}

.tooltip {
    position: absolute;
    width: max-content;
    background-color: #555;
    color: white;
    padding: 8px;
    border-radius: 4px;
    z-index: 9;
    transform: translateX(50%);
}

.expr {
    display: flex;
    flex-direction: column;
}

.expr > input {
    flex: 1;
}
  
#expr {
    background-color: #fff;
    padding: 5px;
    font-family: monospace;
    font-size: 16px;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

.examples {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 25%;
    margin: 10px;
    overflow-y: scroll;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    max-height: 100%;
    overflow-y: scroll;
}

.evaluate {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    margin-bottom: 5px;
}

.settings {
    display: flex;
    flex-direction: row;
}

.settings > label {
    display: flex;
    align-items: center;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin: 10px;
}

.evaluate > .button {
    flex-grow: 1;
    flex-basis: 0;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #3e8e41;
    box-shadow: #0000001a 0 4px 12px;
    transform: translateY(-1px);
}

.button:active {
    border-color: #00000026;
    box-shadow: #0000000f 0 2px 4px;
    transform: translateY(0);
}

.b-ml {
    margin-left: 5px;
}

.icon {
    height: 1em;
}


.fileInput {
    display: inline-block;
    background-color: #ddd;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.fileInput:hover {
    background-color: #ccc;
    box-shadow: #0000001a 0 4px 12px;
}

#bottom {
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    /* background-color: #f8f9fa; */
    padding: 10px 0
}