/* Tooltip container */
/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltipEMP {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: yellow;
    border-bottom: 1px dotted yellow; /* If you want dots under the hoverable text */
}
  
/* Tooltip text */
.tooltipEMP .tooltiptextEMP {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;
    font-weight: 100;
    border: 1px solid white;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    display: flex;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipEMP:hover .tooltiptextEMP {
    visibility: visible;
}

/* Styles for highlighting */
.unimportantEMP {
    color: #484848;
}

.invisibleEMP {
    color: transparent;
}

.normalEMP {
    color: white;
}

.importantEMP {
    color: red;
}