<!DOCTYPE html>
<html th:replace="~{main::layout(title=#{lecture-admin.assistants.title(${exerciseId})}, content=~{::#main})}" xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block id="main">
        <table class="table" th:unless="${assistants.isEmpty()}">
            <tr>
                <th th:text="#{common.userId}"></th>
                <th th:text="#{common.username}"></th>
                <th th:text="#{common.firstname}"></th>
                <th th:text="#{common.lastname}"></th>
                <th></th>
            </tr>
            <tr th:each="assistant : ${assistants}">
                <td><a th:href="@{/user/{userId}(userId=${assistant.userId})}" th:text="${assistant.userId}"></a></td>
                <td th:text="${assistant.username}"></td>
                <td th:text="${assistant.firstname}"></td>
                <td th:text="${assistant.lastname}"></td>
                <td>
                    <form class="form-inline" style="display: inline-block" method="post" th:action="@{/lectures/{eid}/assistants/{uid}/delete(eid=${exerciseId}, uid=${assistant.userId})}" onsubmit="return confirm(this.getAttribute('data-confirmation-msg'))" th:data-confirmation-msg="#{lecture-admin.remove-assistant-confirm(${assistant.firstname + ' ' + assistant.lastname})}">
                        <input type="submit" class="btn btn-danger" th:value="#{common.remove}"/>
                    </form>
                </td>
            </tr>
        </table>

        <h2 th:text="#{lecture-admin.add-assistant}"></h2>
        <form class="form-inline" method="post" th:action="@{/lectures/{exid}/assistants(exid=${exerciseId})}">
            <label for="username" class="control-label" th:text="#{common.username}"></label>
            <input type="text" class="form-control" id="username" name="username"/>
            <input type="submit" class="btn btn-primary" th:value="#{common.save}"/>
        </form>
    </th:block>
</body>
</html>
